.listing-link {
    text-decoration: none;
    color: inherit;
}
.listing {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    width: 320px;
    display: inline-block;
    vertical-align: top;
    background-color: #fdfdfd;
    transition: box-shadow 0.3s;
}
.listing:hover {
    box-shadow: 0 0 10px #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}
.listing img {
    max-width: 100%;
    height: auto;
}