img {
    width: 200px;
    height: auto;
    display: block;
}

#displayImg {
    float: left;
    margin-right: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden; 
    font-family: Arial;
    align-items: center;
    display: flex;
}

.DispText {
}